<header class="header flex align-items-center">
  <img src="assets/img/icon/white-logo.svg" alt="">
</header>


<div class="width">

  <p class="success-title">
    Congratulations Ahmed! Your appointment is confirmed
  </p>
  <img src="assets/img/icon/success-img.svg" class="success-img" alt="">

  <div class="info-container">
    <p class="info-title">
      Home Appliance Repair
    </p>
    <p class="info-subtitle">
      Oven
    </p>

    <div class="info-item flex align-items-center">
      <img src="assets/img/icon/success-item-clock.svg" alt="">
      <p class="info-item-text">
        Dec 16 2020, 2pm - 3pm
      </p>
    </div>

    <div class="hl">
      <!--HORIZONTAL LINE-->
    </div>

    <div class="info-item flex align-items-center">
      <img src="assets/img/icon/success-item-clock.svg" alt="">
      <p class="info-item-text">
        Miami Central Station, 600NW 1st Ave, Miami, FL 33136, USA
      </p>
    </div>
  </div>

</div>


<!--<footer class="footer center">-->
<!--  <button class="btn footer-btn-back">Back</button>-->
<!--  <button class="btn footer-btn-submit" [routerLink]="'/successful-confirmation'">Continue</button>-->
<!--</footer>-->
