.header {
  height: 60px;
  background: linear-gradient(277.8deg, rgba(84, 170, 217, 0.92) 0.25%, rgba(69, 181, 133, 0.88) 111.76%);

  img {
    margin-left: 15%;
  }
}

.title {
  font-weight: 600;
  font-size: 33px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
  margin-top: 60px;
  margin-bottom: 54px;
}

.progress-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 600px;
  margin: 0 auto;
}

.progress-bar-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background: -webkit-linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: red;
  position: relative;

  &.active:before {
    content: url("../../../assets/img/icon/progress-check-marker.svg");
    position: absolute;
    top: 0px;
    left: -15px;
  }
}

.progress-bar-line {
  grid-column: 1/-1;
  background: #F5F6F9;
  border-radius: 10px;
  height: 5px;
  margin-top: 12px;
  position: relative;
}

.progress-bar-line-active {
  background: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);
  border-radius: 15px;
  height: 100%;
  width: 25%;
}

.progress-bar-item-wrapper {
  width: min-content;
  margin: 0 auto;
}

.repair-item-title {
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
}

.repair-item-subtitle {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #6B717D;
}

.quiz-title {
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
  margin-top: 66px;
}

.width {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}

// --------

.date-list {
  max-width: 350px;
  overflow-y: scroll;
  margin: 0 auto;
  z-index: 0;
  scroll-behavior: smooth;
}

.date-list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.date-list::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.date-list::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: transparent;
}

.date-picker-container {
  margin-bottom: 100px;
  margin-top: 54px;
  width: min-content;
}

.date-item {
  min-width: 48px;
  width: 48px;
  height: 70px;
  border-radius: 24px;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  text-align: center;
  color: #3A4151;
  border: 1.5px solid #EFEFEF;
  box-sizing: border-box;
  margin: 0 11px;
  cursor: pointer;

  &.active {
    background: #FEA520;
    color: #FFFFFF;
  }

  .date-item-text {
    font-weight: 500;
    font-size: 11px;
  }

  .date-item-number {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 9px;
  }
}

.nav-btn {
  padding-bottom: 13px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.time-list {
  width: 500px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.time-item {
  max-width: 150px;
  width: 100%;
  height: 42px;
  background: #FFFFFF;
  border: 1.5px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 45px;
  margin: 7px;
  cursor: pointer;

  &.active {
    background: #FEA520;
    color: #fff;
  }
}



































































