section {
  overflow: hidden;
}

app-mobile-nav-menu {
  display: none;
}

.mobile-other-header {
  display: none;
  height: 0;
  transition: all 300ms ease;
}

.header {
  width: 100vw;
  max-width: 1110px;
  padding: 0 25px;
  margin: 0 auto;
  background-color: #fff;
  height: 90px;
  top: 30px;
  z-index: 10;
}

.header-container {
  position: fixed;
  width: 100vw;
  z-index: 10;
  background: #fff;
  height: auto;
  top: 0;
}

.main-logo {
  margin-right: 42px;
}

.header-location-btn, .language-btn {
  border: 1.25px solid #3A4151;
  border-radius: 7px;
  height: 32px;
  padding: 0 10px;
  margin-right: 18px;

  img {
    margin-right: 7px;
  }
}

.book-btn-header {
  background: #FEA520;
  backdrop-filter: blur(30px);
  border-radius: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-right: 47px;
  color: #FFFFFF;
  height: 0px;
  display: block;
  opacity: 0;
  padding: 0 35px;
  transition: opacity 500ms ease;

  &.active {
    opacity: 1;
    height: 48px;
  }
}

.call-us {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: -webkit-linear-gradient(277.8deg, rgba(84, 170, 217, 0.92) 0.25%, rgba(69, 181, 133, 0.88) 111.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-view-logo {
  display: none;
}

.phone-number {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #3A4151;
}

.phone-icon {
  margin-right: 8px;
}

.main-block {
  width: 100%;
  background-image: url('../../../assets/img/main-section-bg.png');
  background-size: cover;
  padding: 0 60px 24px;
  display: block;
  margin-top: 90px;
}

.main-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 78px;
}

.main-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  font-style: italic;
  text-align: center;
  color: #FFFFFF;
  margin-top: 36px;
}

.price-block {
  background: radial-gradient(95.93% 113.74% at 4.07% 113.74%, rgba(255, 255, 255, 0.2975) 0%, rgba(255, 255, 255, 0.034) 100%);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  display: block;
  margin: 55px auto 0;
  width: min-content;
  padding: 0 67px;
}

.price-block-price {
  font-weight: 600;
  font-size: 110px;
  line-height: 165px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.price-block-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.price-block-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 54px;
}

.book-btn {
  background: #FEA520;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  height: 60px;
  padding: 0 50px;
  margin: 0 auto 12px;
  display: block;
}

.phone-number-mobile-view {
  display: none;
}

.work-time {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #DEEFF1;
}

.title {
  font-weight: 600;
  font-size: 33px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
}

.how-it-works {
  background-image: url('../../../assets/img/how-it-work-left-bg.png'), url('../../../assets/img/how-it-work-right-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left 58px, 90% 63px;
  padding-bottom: 90px;
}

.how-it-works-title {
  padding-top: 60px;
  padding-bottom: 64px;
}

.how-it-works-list {
  overflow-x: scroll;
  justify-content: center;
}

.card {
  position: relative;
}

.card-wrapper {
  max-width: 262px;
  min-width: 262px;
  padding: 24px 24px 49px;
  background: #FFFFFF;
  border: 2px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 21px;
  margin: 0 6px;
}

.card-number {
  width: 27px;
  height: 27px;
  background: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);
  border-radius: 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
  color: #3A4151;
  margin-bottom: 20px;
}

.card-text {
  font-size: 16px;
  line-height: 130%;
  color: #6B717D;
}

.first-card, .second-card {
  &:after {
    content: url("../../../assets/img/icon/card-after.svg");
    position: absolute;
    top: 0;
    right: -37px;
  }
}

.second-card, .third-card {
  &:before {
    content: url("../../../assets/img/icon/card-before.svg");
    position: absolute;
    top: 0;
    left: -26px;
  }
}

// REASONS ---------------------
.reasons {
  background: #3A4151;
  border-radius: 30px;
  margin: 0 48px;
  padding-bottom: 91px;
  background-image: url('../../../assets/img/reason-left-bg.svg'), url('../../../assets/img/reason-right-bg.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 55px 42px, right bottom;
}

.reasons-title {
  color: #FFFFFF;
  padding: 60px 0 55px;
}

.reasons-list {
  //flex-wrap: wrap;
  //justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.reason-item {
  margin: 0 15px;
}

.reason-img-cover {
  height: 50px;
  margin-bottom: 15px;
}

.reason-item-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 100px;
  margin-bottom: 18px;
}

.reason-item-subtitle {
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}


// APPLIANCES -----------------------------

.appliances-title {
  padding: 90px 0 54px;
}

.appliances-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 810px;
  margin: 0 auto;
  grid-gap: 18px;
  padding-bottom: 90px;
}

.appliance-card-img-wrapper {
  height: 40px;
  margin-bottom: 18px;
}

.appliance-card {
  border: 1.5px solid #EFEFEF;
  border-radius: 15px;
  padding: 22px 15px;
  width: 120px;
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    background: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);
  }

  &:hover path {
    stroke: #fff;
  }

  &:hover .appliance-title {
    color: #FFFFFF;
  }
}

.appliance-img {
  margin: 0 auto 21px;
  display: block;
}

.appliance-title {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #3A4151;
}

// BRAND ------------------------

.brand {
  background: #F5F6F9;
  background-image: url('../../../assets/img/brand-left-bg.svg'), url('../../../assets/img/brand-right-bg.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, 95% 75%;
  padding-bottom: 90px;
}

.brand-title {
  padding: 60px 0 51px;
}

.brand-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 810px;
  margin: 0 auto;
  grid-row-gap: 50px;
}

// RESULT ----------------------------------

.result-title {
  padding: 60px 0 54px;
}

.result-list {
  margin-bottom: 135px;
}

.result-item {
  padding: 0 45px;
}

.result-number {
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  text-align: center;
  background: -webkit-linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-item + .result-item {
  border-left: 1.5px solid #DCDDDE;
}

.result-item-text {
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  color: #3A4151;
  margin-top: 18px;
}


// LOCATION

.location {
  //background-image: url('../../../assets/img/location-left-bg.svg');
  //background-color: linear-gradient(327.46deg, #54AAD9 -144.44%, #45B585 158.83%);
  background-color: #45B585;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../../assets/img/location-bg.png');
  position: relative;
}

.location-title {
  padding: 60px 0 54px;
  color: #fff;
}

.location-content {
  margin-left: 20%;
}

.location-btn {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  height: 42px;
  border-radius: 45px;
  border: 1.5px solid #FFFFFF;
  padding: 0 35px;
  margin-left: 15px;
  cursor: pointer;
  white-space: nowrap;

  &.active {
    background: #FEA520;
    border-radius: 45px;
    border: 1px solid #FEA520;
  }
}

.map-container {
  width: 100%;
  height: 390px;
  border-radius: 30px 0px 0px 0px;
  overflow: hidden;
  margin-top: 24px;

}

.map {
  width: 100%;
  height: 100%;
}


// FOOTER

.footer {
  background: #3A4151;
  background-image: url('../../../assets/img/footer-circle-bg.svg');
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 49px;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 810px;
  margin: 0 auto;
}

.footer-titles {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.love-us {
  a {
    margin-right: 16px;
    height: 36px;
  }
}

.footer-row-second {
  margin-top: 54px;
  margin-bottom: 49px;
}

.contact-item {
  img {
    margin-right: 12px;
  }
}

.contact-item + .contact-item {
  margin-top: 30px;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-services-title {
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #9CA0A8;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin-bottom: 14px;
}

.our-services-item {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 6px;
}


// FIRMA

.firma {
  background: #313746;
  padding: 11px 0;
}

.firma-text {
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #6B717D;
}

.custom-width {
  width: 810px;
  //border: 1px solid red;
  margin: 0 auto;
}


@media (max-width: 992px) {
  .custom-width {
    width: 650px;
  }
  .appliances-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .reasons-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 720px) {
  .custom-width {
    width: 560px;
  }
  .appliances-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .reasons-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .appliance-card {
    width: 110px;
  }
  .how-it-works-list {
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .header {
    height: 54px;
  }
  .header-container {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
  }
  .book-btn-header {
    display: none !important;
  }
  .mobile-other-header {
    display: block;
    height: 0;
    overflow-y: hidden;
    background: #3A4151;
    width: 100vw;
    z-index: 10;
    top: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;

    img {
      margin-right: 8px;
    }

    span {
      position: relative;
      top: -2px;
    }

    &.active {
      height: 30px;
    }
  }
  app-mobile-nav-menu {
    display: block;
  }
  .main-logo {
    display: none;
  }
  .mobile-view-logo {
    display: block;
  }
  .header-mobile-view-item {
    display: none;
  }
  .main-block {
    height: calc(100vh - 105px);
    min-height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 54px;
  }
  .custom-width {
    width: 100%;
  }
  .appliances-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .brand-list {
    grid-template-columns: repeat(4, 1fr);

    img {
      width: 50px;
    }
  }
  .reasons-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .appliance-card {
    width: 110px;
  }
  .main-title {
    font-size: 20px;
    line-height: 125%;
    padding-top: 50px;
  }
  .result-list {
    flex-direction: column;
  }
  .footer-row {
    grid-template-columns: 1fr;
  }

  // MAIN

  .main-subtitle {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
    padding: 0 50px;
  }

  .price-block {
    margin: 24px auto 0;
    width: min-content;
    min-width: 240px;
    padding: 0 40px 0;
    height: 196px;
  }

  .price-block-price {
    font-size: 85px;
    line-height: 110px;
  }

  .price-block-title {
    font-size: 19px;
    line-height: 28px;
  }

  .price-block-subtitle {
    font-size: 13px;
    line-height: 120%;
  }

  .phone-number-mobile-view {
    background: radial-gradient(95.93% 113.74% at 4.07% 113.74%, rgba(255, 255, 255, 0.2975) 0%, rgba(255, 255, 255, 0.034) 100%);
    backdrop-filter: blur(12px);
    border-radius: 9px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    max-width: 240px;
    margin: 10px auto 0;
    height: 42px;

    img {
      margin-right: 12px;
    }
  }

  .book-btn {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0;
    margin-bottom: 0;
  }

  .work-time {
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .how-it-works {
    background: unset;
  }

  .card-wrapper:last-child {
    margin-right: 10px;
    position: relative;
  }

  .how-it-works-title {
    padding: 36px 0 21px;
  }

  .how-it-works-list {
    justify-content: flex-start;
    margin-left: 9px;
  }

  .how-it-works {
    padding-bottom: 60px;
  }


  // REASON -----------------

  .reasons {
    margin: 0 10px;
    background-image: none, url('../../../assets/img/reason-right-bg.svg');
    padding-bottom: 0;
  }

  .reasons-title {
    padding: 36px 0;
    max-width: 250px;
    margin: 0 auto;
    line-height: 120%;
  }

  .reason-item {
    margin-bottom: 50px;
  }

  // APPLIANCES---------------------------

  .appliances-title {
    padding: 36px 0;
  }

  .appliances-list {
    width: 100% !important;
    margin: 0;
    grid-column-gap: 0;
  }

  .appliance-card {
    width: 104px;
    padding-left: 0;
    padding-right: 0;
  }

  .appliances-list {
    padding-bottom: 60px;
  }

  .brand-title {
    padding: 36px 0;
  }

  .brand {
    background-image: url('../../../assets/img/brand-mobile-left-bg.png'), none;
    padding-bottom: 68px;
  }

  .brand-list {
    grid-row-gap: 24px;
  }

  .brand-logo img {
    margin: 0 auto;

  }

  // RULES

  .result-list {
    margin-bottom: 54px;
  }
  .result-title {
    padding: 36px 0 24px;
  }
  .result-item-text {
    padding-bottom: 42px;
  }
  .result-item {
    padding: 36px 0 0;
    margin: 0 auto;
    min-width: 262px;
  }
  .result-item + .result-item {
    border-left: none;
    border-top: 1.5px solid #DCDDDE;
  }

  //  LOCATION -----------------

  .location-title {
    padding: 36px 0 46px;
  }

  .location-btns {
    overflow-x: scroll;
  }

  //  FOOTER

  .footer-right {
    margin-top: 18px;
  }
  .sm-links {
    justify-content: flex-end;
    padding-bottom: 18px;
    border-bottom: 2px solid #303746;
  }
  .contact-list {
    margin-top: 26px;
  }

  .our-services-list {
    grid-template-columns: 1fr;
  }
  .our-services-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .our-services-item {
    font-size: 16px;
    line-height: 24px;
  }
  .our-services-list {
    margin-left: -20px;
  }
  .footer-row {
    margin-right: 0;
  }
  .footer {
    padding-left: 30px;
    padding-bottom: 60px;

    .custom-width {
      width: 100%;
    }
  }
  .firma {
    margin-left: -30px;
  }
}

@media (max-width: 400px) {
  .main-block {
    padding: 0;
  }

  .custom-width {
    width: 320px
  }
  .appliances-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .reasons-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .appliance-card {
    width: 95px;
  }
  .title {
    font-size: 23px;
  }

}
