<header class="header flex align-items-center justify-content-between">

  <div class="flex align-items-center">

    <img src="assets/img/icon/full-logo.svg" class="main-logo" alt="">

    <button class="btn header-location-btn flex align-items-center">
      <img src="assets/img/icon/location.svg" alt="">
      Location
    </button>

    <button class="btn language-btn flex align-items-center">
      <img src="assets/img/icon/language-icon.svg" alt="">
      ENG
    </button>

  </div>

  <div>
    <div class="flex">
      <img class="phone-icon" src="assets/img/icon/phone.svg" alt="">
      <p class="call-us">
        CAll us now
      </p>
    </div>
    <p class="phone-number">
      (408) 708 31 44
    </p>
  </div>

</header>

<section class="main-block">
  <h1 class="main-title">
    Are you looking to get some assistance with your appliance repair?
  </h1>
  <p class="main-subtitle">
    Our team of qualified Technicians is ready to fix your appliance
  </p>

  <div class="price-block">
    <p class="price-block-price">
      $59
    </p>
    <p class="price-block-title">
      SERVICE CALLS
    </p>
    <p class="price-block-subtitle">
      No service call charge
      with a repair
    </p>
  </div>

  <button class="btn book-btn">
    BOOK AN APPOINTMENT
  </button>

  <p class="work-time">
    MON - SAT 8:00am - 7:00pm
  </p>

</section>

<section class="how-it-works">
  <p class="title how-it-works-title">
    How It Works
  </p>

  <ul class="how-it-works-list flex justify-content-center">

    <li class="card-wrapper">
      <div class="card first-card">
        <div class="card-number center">
          1
        </div>
        <p class="card-title">
          Pick a Time
        </p>
        <p class="card-text">
          Select the day and time for your service and describe the issue.
        </p>
      </div>
    </li>

    <li class="card-wrapper">
      <div class="card second-card">
        <div class="card-number center">
          2
        </div>
        <p class="card-title">
          Pro estimate
        </p>
        <p class="card-text">
          Our experienced and fully-equipped Pro will come and estimate the issue.
        </p>
      </div>
    </li>

    <li class="card-wrapper">
      <div class="card third-card">
        <div class="card-number center">
          3
        </div>
        <p class="card-title">
          Pay after work
        </p>
        <p class="card-text">
          Once the Pro completes the work you pay for service and get our Guarantee.
        </p>
      </div>
    </li>

  </ul>
</section>


<section class="reasons">
  <p class="title reasons-title">
    Several reasons to trust us
  </p>

  <ul class="reasons-list flex center">

    <li class="reason-item">
      <div class="reason-img-cover flex align-items-center">
        <img src="assets/img/icon/high.svg" alt="">
      </div>
      <p class="reason-item-title">
        High quality
      </p>
      <p class="reason-item-subtitle">
        appliance service
      </p>
    </li>

    <li class="reason-item">
      <div class="reason-img-cover flex align-items-center">
        <img src="assets/img/icon/quick.svg" alt="">
      </div>
      <p class="reason-item-title">
        QUICK WORK
      </p>
      <p class="reason-item-subtitle">
        as possible
      </p>
    </li>

    <li class="reason-item">
      <div class="reason-img-cover flex align-items-center">
        <img src="assets/img/icon/licensed.svg" alt="">
      </div>
      <p class="reason-item-title">
        licensed experts
      </p>
      <p class="reason-item-subtitle">
        in our team
      </p>
    </li>

    <li class="reason-item">
      <div class="reason-img-cover flex align-items-center">
        <img src="assets/img/icon/lowest.svg" alt="">
      </div>
      <p class="reason-item-title">
        lowest prices
      </p>
      <p class="reason-item-subtitle">
        $59 service call
      </p>
    </li>

    <li class="reason-item">
      <div class="reason-img-cover flex align-items-center">
        <img src="assets/img/icon/repair.svg" alt="">
      </div>
      <p class="reason-item-title">
        repair warranty
      </p>
      <p class="reason-item-subtitle">
        3 months
      </p>
    </li>

  </ul>
</section>


<section class="appliances">
  <p class="title appliances-title">
    Appliances we service
  </p>
  <ul class="appliances-list flex">

    <li class="appliance-card">
      <img src="assets/img/icon/refrigirator.svg" alt="" class="appliance-img">
      <p class="appliance-title">Refrigirator Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/washer.svg" alt="" class="appliance-img">
      <p class="appliance-title">Washer Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/dishwasher.svg" alt="" class="appliance-img">
      <p class="appliance-title">Dishwasher Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/drier.svg" alt="" class="appliance-img">
      <p class="appliance-title">Drier Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/oven.svg" alt="" class="appliance-img">
      <p class="appliance-title">Oven Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/appliance.svg" alt="" class="appliance-img">
      <p class="appliance-title">Appliance Instalation</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/range.svg" alt="" class="appliance-img">
      <p class="appliance-title">Range & Stove</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/trash.svg" alt="" class="appliance-img">
      <p class="appliance-title">Trash Compactor</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/microwave.svg" alt="" class="appliance-img">
      <p class="appliance-title">Microwave Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/electric.svg" alt="" class="appliance-img">
      <p class="appliance-title">Electric Appliance Instalation</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/kitchen.svg" alt="" class="appliance-img">
      <p class="appliance-title">Kitchen Hood Repair</p>
    </li>
    <li class="appliance-card">
      <img src="assets/img/icon/cooktop.svg" alt="" class="appliance-img">
      <p class="appliance-title">Cooktop Repair</p>
    </li>

  </ul>

</section>


<section class="brand">

  <p class="title brand-title">
    Brand we service
  </p>

  <ul class="brand-list">

    <ng-container *ngFor="let brand of brandList">
      <li class="brand-logo">
        <img [src]="'assets/img/icon/' + brand.path" alt="">
      </li>
    </ng-container>

  </ul>

</section>


<section class="result">
  <p class="title result-title">
    Our Results
  </p>

  <ul class="result-list flex justify-content-center">
    <li class="result-item">
      <p class="result-number">1500+</p>
      <p class="result-item-text">HAPPY CUSTOMERS</p>
    </li>

    <li class="result-item">
      <p class="result-number">1250+</p>
      <p class="result-item-text">PARTS REPLACED</p>
    </li>

    <li class="result-item">
      <p class="result-number">99%</p>
      <p class="result-item-text">POSITIVE FEEDBACK</p>
    </li>
  </ul>

</section>


<section class="location">
  <p class="title location-title">
    Our locations
  </p>

  <div class="location-content">

    <div class="location-btns">

      <button (click)="location = 0" [ngClass]="{'active' : location === 0}" class="btn location-btn">
        Miami
      </button>
      <button (click)="location = 1" [ngClass]="{'active' : location === 1}" class="btn location-btn">
        Orlando
      </button>
      <button (click)="location = 2" [ngClass]="{'active' : location === 2}" class="btn location-btn">
        New York
      </button>
    </div>

    <img src="assets/img/map.png" alt="" class="map">
  </div>
</section>


<footer class="footer">

  <div class="footer-row align-items-center">

    <img src="assets/img/icon/footer-logo.svg" alt="">

    <div class="footer-right align-items-center love-us">

      <p class="footer-titles">
        People love us on:
      </p>

      <div>
        <a href="#">
          <img src="assets/img/icon/yelp.svg" alt="">
        </a>
        <a href="#">
          <img src="assets/img/icon/google.svg" alt="">
        </a>
      </div>

    </div>

  </div>

  <div class="footer-row footer-row-second">

    <ul class="contact-list">

      <li class="contact-item flex align-items-center">
        <img src="assets/img/icon/footer-phone.svg" alt="">
        <p class="footer-titles">(408) 708 31 44</p>
      </li>

      <li class="contact-item flex align-items-center">
        <img src="assets/img/icon/footer-email.svg" alt="">
        <p class="footer-titles">info@fundamental.com</p>
      </li>

      <li class="contact-item flex align-items-center">
        <img src="assets/img/icon/footer-clock.svg" alt="">
        <p class="footer-titles">MON - FRI 8:00am - 7 00pm</p>
      </li>

    </ul>

    <ul class="footer-right our-services-list">

      <li class="our-services-title">
        Our Services
      </li>

      <li class="our-services-item">Refrigirator repair</li>
      <li class="our-services-item">Washer repair</li>
      <li class="our-services-item">Dishwasher repair</li>
      <li class="our-services-item">Drier repair</li>
      <li class="our-services-item">Oven repair</li>
      <li class="our-services-item">Appliance instalation</li>
      <li class="our-services-item">Range & Stove</li>
      <li class="our-services-item">Trash compactor</li>
      <li class="our-services-item">Trash compactor</li>
      <li class="our-services-item">Electric appliance Instalation</li>
      <li class="our-services-item">Kitchen hood repair</li>
      <li class="our-services-item">Cooktop repair</li>

    </ul>


  </div>

  <div class="firma">
    <p class="firma-text">
      © Copyright - Fundamental Appliance Repair. 2020
    </p>
  </div>

</footer>








